/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * NativeStatus.less page
 *
 * @author zhangtao
 * @date Tuesday October 30th 2018
 */
@import "../../../assets/style/core/index.less";
.blue {
  color: @primary-color;
}
.green {
  color: @success-color;
}
.red {
  color: @error-color;
}
.black {
  color: black;
}
.Running, .Doing {
  color: #65bc2c;
}
.Waiting {
  color: #ffa000;
}
.Pending {
  color: #0b9eeb;
}
.Stopped, .Stopping {
  color: #df582c;
}
.Failed {
  color: #df582c;
}
.Initialization {
  color: #0b9eeb;
}
.Terminating, .RollingUpdate, .ScrollRelease {
  color: #ffa000;
}
.Abnormal {
  color: #ed9325;
}
.Normal {
  color: #5cb85c;
}
.Warning {
  color: #f85a5a;
}
.Succeeded {
  color: #33b867;
}
.phaseInfoText {
  padding-left: @padding-base;
}
.podInfoText {
  padding-left: @padding-base;
}
.podInfo {
  margin-top: @padding-base;
  color: @font-color-3;
}
.gray {
  color: @font-color-3;
}
.NativeStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.middle {
  margin-top: 8px;
}
