/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of Templates
 *
 * @author zhouhaitao
 * @date 2018-11-22
 */
@import "../../../../assets/style/core/index.less";
.noData {
  height: 800px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .noDataInner {
    margin-top: -50px;
  }
}

.listItem {
  width: 22%;
  margin: 20px 20px 0 0;
  display: inline-block;
  background: #fff;
  position: relative;
  cursor: auto;
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
  .itemTag {
    padding: 3px 5px;
    border: 1px solid @primary-color;
    color: @primary-color;
    border-radius: @border-radius-base;
    position: absolute;
    left: @padding-small;
    top: @padding-small;
    background: #e8f7fe;
  }
  .setting {
    padding: 3px 5px;
    position: absolute;
    right: @padding-small;
    top: @padding-small;
    &:hover {
      color: @primary-color;
    }
  }
  .itemTop {
    padding: @padding-small;
    height: 128px;
    margin-top: @padding-large;
    display: flex;
    align-items: center;
    .itemImg {
      width: 30%;
      height: 80px;
      text-align: center;
      line-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      .stackIcon {
        font-size: 50px;
        color: @primary-color;
      }
    }
    .itemInfo {
      width: 68%;
      margin-left: 2%;
      h2 {
        font-weight: normal;
        font-size: 16px;
      }
      .description {
        color: @font-color-3;
      }
    }
  }
  .itemBottom {
    height: 65px;
    width: 100%;
    padding: @padding-small;
    background: #f9f9f9;
    border-top: 1px solid @border-color-split;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1366px) {
  .listItem {
    width: 30%;
    background: #fff;
  }
}
