/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * editor.less page
 *
 * @author zhangtao
 * @date Wednesday November 21st 2018
 */
@import "../../../assets/style/core/index.less";
.operationBar {
  padding: @padding-base 0;
  background-color: #333;
  > div {
    margin: 0 auto;
    width: 150px;
    > button:first-child {
      margin-right: 30px;
    }
  }
  .darkButton {
    background-color: #333;
    color: white;
  }
}

.editor {
  :global {
    .ant-layout-content {
    padding: 0;
    margin: 0;
    }
    .codeEditor {
      height: auto;
    }
  }
}
.editHeader {
  height: 40px;
  display: flex;
  background-color: #333;
  justify-content: flex-end;
  align-items: center;
  color: @primary-color;
  .editIcon {
    padding: @padding-base;
    color: #ccc;
    &:hover {
      color: @primary-color;
    }
    i {
      padding-right: 4px;
    }
    cursor: pointer;
  }
  .fullEditIcon {
    padding-right: @padding-small;
    padding-left: 4px;
    line-height: 12px;
    color: #ccc;
    &:hover {
      color: @primary-color;
    }
  }
}
.editLayout {
  :global {
    .ant-layout-content {
      margin: 0;
      padding: 0;
    }
  }
}
.sider {
  border: 1px solid #252525;
  background-color: #333;
  display: block !important;
}
.warnZoon {
  border: 1px solid #252525;
  background-color: #282828;
  overflow-y: auto;
  width: 100%;
  padding: @padding-base;
  > div {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
  }
  :global {
    .yamlBasegrammar {
      color: @error-color;
      i {
        padding-right: @padding-base;
      }
    }
  }
}
.errorInfo {
  color: #ccc;
  font-size: 14px !important;
}
