@import "../../../assets/style/core/index.less";
.editOperation {
  i:first-child {
    padding-right: @padding-base;
  }
}
.operationBar {
  margin: @padding-base 0;
  > div {
    margin: 0 auto;
    width: 150px;
    > button:first-child {
      margin-right: 30px;
    }
  }
}
