/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 *
 *
 * @author
 * @date 2018-10-29
 */

@import '~@/assets/style/core/index.less';

.page {
  padding: 12px 24px 24px 24px;
  background-color: white;
}
.tabs {
  font-size: 14px;
}
.rtnBtn {
  margin-top: -16px;
}
