/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 *
 *
 * @author
 * @date 2018-10-29
 */

@import '~@/assets/style/core/index.less';

.container {
  height: 174px;
  width: 100%;
  background-color: @component-background;
  border-radius: @border-radius-base;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  .left {
    display: flex;
    align-items: flex-end;
    .leftIcon {
      font-size: 50px;
      color: @primary-color;
      align-self: center;
      cursor: pointer;
    }
    .firstColumn {
      margin-left: @padding-large;
      .title {
        font-size: 20px;
        color: @font-color;
      }
      .normal {
        margin-top: @padding-base;
        display: flex;
      }
    }
    .secondColumn {
      margin-left: @padding-large;
      .normal {
        margin-top: @padding-base;
      }
    }
  }
  .rightButtons {
    display: flex;
    .loginTerminal {
      margin-right: @padding-base;
    }
  }
}
.cronJob {
  height: 140px;
}

.popover-content {
  width: 460px;
  padding: @padding-base;
  display: flex;
  flex-wrap: wrap;
  .rule {
    width: 200px;
    margin: @padding-base @padding-small @padding-base 0;
  }
  .title {
    width: 400px;
    color: @primary-color;
    font-size: @font-size-medium;
  }
}

.longLabel {
  max-width: 250px;
  &:hover {
    color: @primary-color;
    cursor: pointer;
  }
}
