/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * index.less page
 *
 * @author zhangtao
 * @date Friday November 9th 2018
 */
 @import '../../../assets/style/core/index.less';
 .iconWarpper {
   display: flex;
 }
.icon, .osIcon {
  display: flex;
  margin-top: 4px;
  height: 16px;
  width: 16px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid @success-color;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: @success-color;
  > div {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
  }
}
.osIcon {
  line-height: 16px;
  background-color: @primary-color !important;
  border-color: @primary-color !important;
  margin-left: 5px;
  i {
    height: 12px !important;
    width: 12px !important;
  }
  svg path {
    fill: white;
  }
}
.NativeIcon {
  display: flex;
  margin-top: 4px;
  height: 16px;
  width: 16px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid @primary-color;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: @primary-color;
  > div {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
  }
}
.nameWrap {
  display: inline-block;
}
