/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * index.less page
 *
 * @author zhangtao
 * @date Friday November 9th 2018
 */
 @import '../../../assets/style/core/index.less';
.icon {
  display: flex;
  height: 16px;
  width: 16px;
  font-size: 10px;
  border-radius: 8px;
  border: 1px solid @success-color;
  color: @success-color;
  justify-content: center;
  align-items: center;
  > div {
    height: 10px;
    font-size: 10px;
    line-height: 10px;
  }
}
.nameWrap {
  display: block;
}
